{{> search}}

<div id="content" class="flex flex-wrap justify-center pt-2 pb-10">
<div class="max-w-sm rounded overflow-hidden shadow-lg dark:shadow-zinc-900 m-5 bg-gray-200 dark:bg-gray-800 hover:bg-amber-300 dark:hover:bg-sky-900 dark:hover:shadow-none hover:scale-110 transition-all">
        <a href="../">
            <div class="px-6 py-4">
                <p class="text-gray-700 line-clamp-5 dark:text-gray-400 text-base text-center">
                    No entries found matching your search criteria. Please search again, or click here to go home.  
                </p>
            </div>
        </a>
    </div>
    </div>