{{>search}}

<div class="header">
    <p>Okay, this isn't a traditional blog. And it's not even practical or exciting for you, <em>the client</em>.</p>
    <br>
    <p>However, it has been invaluable for me, a developer, to learn and practice several things!</p>
    <br>
    <p>Notably, this project has given me practice in:</p>
    <ul>
        <li>creating responsive websites</li>
        <li>building with an MVC architecture</li>
        <li>styling front-ends with Tailwind CSS</li>
        <li>working with a SQL databases</li>
        <li>creating RESTful HTTP requests</li>
        <li>routing those requests with Express.js</li>
        <li>utilizing server side templates with Handlebars</li>
        <li>developing backends with node.js</li>
        <li>refactoring/redesigning/enhancing projects that may as well have been developed by someone else because I made this over a year ago when I was still young in my development journey and only barely knew what I was doing</li>
        <br>
        <p>So, if you want to test any of that, poke around!</p>
        <p>Search for things.</p>
        <p>Resize your browser.</p>
        <p>Click individual posts.</p>
        <p>Sign up and log in.</p> 
        <p>Create a post. Comment on a post. Delete a post.</p>
        <p>Have fun! Or don't! But definitely love yourself!</p>
        <br>
        <p>Sincerely, Treavor</p>
        <br>
        <p>PS: this won't actually email you, so if you forget your username or password, you're hosed.</p>
    </ul>

</div>

{{> entries}}