{{>search}}

<div class="header my-2 w-11/12 sm:w-2/3 md:w-5/12 mx-auto flex flex-col items-center font-shadow dark:font-sriracha bg-opacity-70 bg-zinc-100 dark:bg-zinc-900 dark:bg-opacity-70 py-4 px-10">
    <p>Okay, this isn't a traditional blog. And it's not very exciting for you, <em>the client</em>. However, it's been invaluable for me, <em>the developer</em>, to learn and practice on!</p>
    <br>
    <p>Notably, this project has given me practice in:</p>
    <ul class="mx-auto flex flex-col p-3">
        <li>creating responsive websites</li>
        <li>authenticating users</li>
        <li>building with an MVC architecture</li>
        <li>styling front-ends with Tailwind CSS</li>
        <li>working with a SQL databases</li>
        <li>creating RESTful HTTP requests</li>
        <li>routing those requests with Express.js</li>
        <li>utilizing server side templates with Handlebars</li>
        <li>developing backends with node.js</li>
        <li>refactoring/redesigning/enhancing old projects</li>
        <li>having fun and not taking things too seriously</li>
    </ul>
    <br>
        <p>So, if you want to test any of that, poke around! Search for things. Resize your browser. Click individual posts. Sign up and log in. Create a post. Comment on a post. Delete a post. Have fun! Or don't!</p>
        <br>
        <p>Sincerely, Treavor</p>
        <br>
</div>

{{> entries}}