<!-- Start blog post -->
<div id="content" class="flex justify-center bg-gray-100 dark:bg-gray-900 pt-2 pb-10">
    <div class="rounded shadow-lg m-5 dark:bg-gray-800 transition-all">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 dark:text-gray-300"> {{title}}</div>
            <p class="text-gray-700 dark:text-gray-400 text-base">
                {{body}}
            </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span
                class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{user.name}}</span>
            <span
                class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{format_date createdAt}}</span>
        </div>
    </div>
</div>
<!-- End Blog Post -->