<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>

<body class="bg-slate-300 dark:bg-slate-600">
    <div class="">
        <h1>The Blog</h1>
    </div>

    <!-- Nav Bar -->
    <div id="nav" class="bg-teal-300 dark:bg-sky-900 flex justify-center">
        <ul class="flex justify-around">
            <li class="mr-6">
                <a class="text-violet-900 hover:text-violet-500 dark:text-amber-50 dark:hover:text-amber-300"
                    href="#">Home</a>
            </li>
            <li class="mr-6">
                <a class="text-violet-900 hover:text-violet-500 dark:text-amber-50 dark:hover:text-amber-300"
                    href="#">Dashboard</a>
            </li>
            <li class="mr-6">
                <a class="text-violet-900 hover:text-violet-500 dark:text-amber-50 dark:hover:text-amber-300"
                    href="#">Login</a>
            </li>
            <li class="mr-6">
                <a class="text-violet-900 hover:text-violet-500 dark:text-amber-50 dark:hover:text-amber-300"
                    href="#">Light Mode</a>
            </li>
        </ul>
    </div>
    <!-- End Nav Bar -->

    <!-- Start blog cards -->
    <div id="dashboard" class="bg-gray-100 dark:bg-gray-900 pt-2 grid grid-cols-12 h-full">
        <!-- search, create and view past posts -->
        <div id="options" class="col-span-3">

            <!-- individual post -->
            <div id="newAndSave"
                class="rounded grid grid-cols-2 justify-center bg-gray-100 dark:bg-gray-900 mx-2 my-1">
                <div class="px-2 py-2 mx-auto">
                    <button id="new"
                        class="rounded font-semibold bg-teal-700 text-gray-50 dark:bg-sky-900 dark:text-gray-200 p-2 hover:scale-110 transition-all">NEW</button>
                </div>
                <div class="px-2 py-2 mx-auto">
                    <button id="save"
                        class="rounded font-semibold bg-teal-700 text-gray-50 dark:bg-sky-900 dark:text-gray-200 p-2 hover:scale-110 transition-all">SAVE</button>
                </div>
            </div>
            <!-- end individual post -->

            <!-- individual post -->
            <div
                class="rounded flex justify-between bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-sky-900 transition-all mx-2 my-1">
                <div class="px-2 py-2 flex flex-col">
                    <p class="text-gray-900 dark:text-gray-300">The Coldest Sunset</p>
                    <p class="text-gray-900 dark:text-gray-300">Sept 29, 2022</p>
                </div>
                <div class="px-2 py-2 my-auto">
                    <button id="delete"
                        class="rounded-full border-red-600 font-semibold bg-red-700 text-gray-50 dark:bg-gray-300 dark:text-red-700 px-2 mr-2 hover:scale-110 transition-all">Delete</button>
                </div>
            </div>
            <!-- end individual post -->

            <!-- individual post -->
            <div
                class="rounded flex justify-between bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-sky-900 transition-all mx-2 my-1">
                <div class="px-2 py-2 flex flex-col">
                    <p class="text-gray-900 dark:text-gray-300">The Coldest Sunset</p>
                    <p class="text-gray-900 dark:text-gray-300">Sept 29, 2022</p>
                </div>
                <div class="px-2 py-2 my-auto">
                    <button
                        class="rounded-full border-red-600 font-semibold bg-red-700 text-gray-50 dark:bg-gray-300 dark:text-red-700 px-2 mr-2 hover:scale-110 transition-all">Delete</button>
                </div>
            </div>
            <!-- end individual post -->
            <!-- individual post -->
            <div
                class="rounded flex justify-between bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-sky-900 transition-all mx-2 my-1">
                <div class="px-2 py-2 flex flex-col">
                    <p class="text-gray-900 dark:text-gray-300">The Coldest Sunset</p>
                    <p class="text-gray-900 dark:text-gray-300">Sept 29, 2022</p>
                </div>
                <div class="px-2 py-2 my-auto">
                    <button
                        class="rounded-full border-red-600 font-semibold bg-red-700 text-gray-50 dark:bg-gray-300 dark:text-red-700 px-2 mr-2 hover:scale-110 transition-all">Delete</button>
                </div>
            </div>
            <!-- end individual post -->
            <!-- individual post -->
            <div
                class="rounded flex justify-between bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-sky-900 transition-all mx-2 my-1">
                <div class="px-2 py-2 flex flex-col">
                    <p class="text-gray-900 dark:text-gray-300">The Coldest Sunset</p>
                    <p class="text-gray-900 dark:text-gray-300">Sept 29, 2022</p>
                </div>
                <div class="px-2 py-2 my-auto">
                    <button
                        class="rounded-full border-red-600 font-semibold bg-red-700 text-gray-50 dark:bg-gray-300 dark:text-red-700 px-2 mr-2 hover:scale-110 transition-all">Delete</button>
                </div>
            </div>
            <!-- end individual post -->
            <!-- individual post -->
            <div
                class="rounded flex justify-between bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-sky-900 transition-all mx-2 my-1">
                <div class="px-2 py-2 flex flex-col">
                    <p class="text-gray-900 dark:text-gray-300">The Coldest Sunset</p>
                    <p class="text-gray-900 dark:text-gray-300">Sept 29, 2022</p>
                </div>
                <div class="px-2 py-2 my-auto">
                    <button
                        class="rounded-full border-red-600 font-semibold bg-red-700 text-gray-50 dark:bg-gray-300 dark:text-red-700 px-2 mr-2 hover:scale-110 transition-all">Delete</button>
                </div>
            </div>
            <!-- end individual post -->
            
            <!-- end search, create and view past posts -->

        </div>

        <!-- viewing and editing posts -->
        <div id="field" class="col-span-9">
            <div class="px-6 py-4">
                <p class="font-bold text-3xl mb-2 dark:text-gray-300">The Coldest Sunset</p>
                <p class="text-gray-700 dark:text-gray-400 text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                    perferendis eaque, exercitationem praesentium nihil.
                </p>
            </div>
        
        </div>
        <!-- end viewing and editing posts -->
        <!-- End Blog Cards -->

</body>

</html>